In [53]:
import pandas as pd
import numpy as np

In [54]:
def clean_currency_and_convert_to_float(series):
    """
    Cleans currency symbols and commas from a Pandas Series and converts it to float.
    Handles errors by coercing non-convertible values to NaN.

    Args:
        series (pd.Series): The Pandas Series to clean.

    Returns:
        pd.Series: The cleaned Pandas Series, converted to float.
    """
    # Remove '₹', commas, and convert to numeric, handling errors with 'coerce'
    cleaned_series = series.astype(str).str.replace(r'[₹,]', '', regex=True).str.strip()
    numeric_series = pd.to_numeric(cleaned_series, errors='coerce')
    return numeric_series

In [55]:
# 1. Data Loading and Initial Exploration
try:
    shark_tank_data = pd.read_csv('Shark Tank India.csv')
    print("Data loaded successfully.")
except FileNotFoundError:
    print("Error: 'Shark Tank India.csv' not found.  Make sure the file is in the correct directory and named correctly.")
    exit()

print("\nInitial Data Overview:")
print(shark_tank_data.head())
print("\nColumn Information:")
print(shark_tank_data.info())

Data loaded successfully.

Initial Data Overview:
   Season Number      Startup Name  Episode Number  Pitch Number Season Start  \
0              1     BluePineFoods               1             1    20-Dec-21
1              1      BoozScooters               1             2    20-Dec-21
2              1  HeartUpMySleeves               1             3    20-Dec-21
3              1         TagzFoods               2             4    20-Dec-21
4              1      HeadAndHeart               2             5    20-Dec-21

  Season End Original Air Date                Episode Title           Anchor  \
0   4-Feb-22         20-Dec-21  Badlegi Business Ki Tasveer  Rannvijay Singh
1   4-Feb-22         20-Dec-21  Badlegi Business Ki Tasveer  Rannvijay Singh
2   4-Feb-22         20-Dec-21  Badlegi Business Ki Tasveer  Rannvijay Singh
3   4-Feb-22         21-Dec-21      Insaan, Ideas Aur Sapne  Rannvijay Singh
4   4-Feb-22         21-Dec-21      Insaan, Ideas Aur Sapne  Rannvijay Singh

                       Industry  ... Invested Guest Name All Guest Names  \
0             Food and Beverage  ...      Ashneer Grover  Ashneer Grover
1  Vehicles/Electrical Vehicles  ...      Ashneer Grover  Ashneer Grover
2                Beauty/Fashion  ...                 NaN  Ashneer Grover
3             Food and Beverage  ...      Ashneer Grover  Ashneer Grover
4            Children/Education  ...                 NaN  Ashneer Grover

   Namita Present  Vineeta Present  Anupam Present  Aman Present  \
0             1.0              1.0             1.0           1.0
1             1.0              1.0             1.0           1.0
2             1.0              1.0             1.0           1.0
3             1.0              1.0             1.0           1.0
4             1.0              1.0             1.0           1.0

   Peyush Present  Ritesh Present Amit Present Guest Present
0             NaN             NaN          NaN           1.0
1             NaN             NaN          NaN           1.0
2             NaN             NaN          NaN           1.0
3             NaN             NaN          NaN           1.0
4             NaN             NaN          NaN           1.0

[5 rows x 80 columns]

Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634 entries, 0 to 633
Data columns (total 80 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              634 non-null    int64
 1   Startup Name               634 non-null    object
 2   Episode Number             634 non-null    int64
 3   Pitch Number               634 non-null    int64
 4   Season Start               634 non-null    object
 5   Season End                 478 non-null    object
 6   Original Air Date          603 non-null    object
 7   Episode Title              634 non-null    object
 8   Anchor                     634 non-null    object
 9   Industry                   634 non-null    object
 10  Business Description       634 non-null    object
 11  Company Website            618 non-null    object
 12  Started in                 456 non-null    float64
 13  Number of Presenters       634 non-null    int64
 14  Male Presenters            568 non-null    float64
 15  Female Presenters          382 non-null    float64
 16  Transgender Presenters     3 non-null      float64
 17  Couple Presenters          634 non-null    int64
 18  Pitchers Average Age       634 non-null    object
 19  Pitchers City              626 non-null    object
 20  Pitchers State             629 non-null    object
 21  Yearly Revenue             343 non-null    float64
 22  Monthly Sales              287 non-null    float64
 23  Gross Margin               162 non-null    float64
 24  Net Margin                 93 non-null     float64
 25  EBITDA                     81 non-null     float64
 26  Cash Burn                  97 non-null     object
 27  SKUs                       43 non-null     float64
 28  Has Patents                62 non-null     object
 29  Bootstrapped               114 non-null    object
 30  Part of Match off          6 non-null      object
 31  Original Ask Amount        634 non-null    float64
 32  Original Offered Equity    634 non-null    float64
 33  Valuation Requested        634 non-null    float64
 34  Received Offer             634 non-null    int64
 35  Accepted Offer             423 non-null    float64
 36  Total Deal Amount          360 non-null    float64
 37  Total Deal Equity          360 non-null    float64
 38  Total Deal Debt            75 non-null     float64
 39  Debt Interest              58 non-null     float64
 40  Deal Valuation             359 non-null    float64
 41  Number of Sharks in Deal   360 non-null    float64
 42  Deal Has Conditions        37 non-null     object
 43  Royalty Percentage         36 non-null     float64
 44  Royalty Recouped Amount    36 non-null     float64
 45  Advisory Shares Equity     11 non-null     float64
 46  Namita Investment Amount   114 non-null    float64
 47  Namita Investment Equity   114 non-null    float64
 48  Namita Debt Amount         21 non-null     float64
 49  Vineeta Investment Amount  89 non-null     float64
 50  Vineeta Investment Equity  89 non-null     float64
 51  Vineeta Debt Amount        15 non-null     float64
 52  Anupam Investment Amount   102 non-null    float64
 53  Anupam Investment Equity   102 non-null    float64
 54  Anupam Debt Amount         9 non-null      float64
 55  Aman Investment Amount     141 non-null    float64
 56  Aman Investment Equity     141 non-null    float64
 57  Aman Debt Amount           19 non-null     float64
 58  Peyush Investment Amount   104 non-null    float64
 59  Peyush Investment Equity   104 non-null    float64
 60  Peyush Debt Amount         13 non-null     float64
 61  Ritesh Investment Amount   52 non-null     float64
 62  Ritesh Investment Equity   52 non-null     float64
 63  Ritesh Debt Amount         14 non-null     float64
 64  Amit Investment Amount     35 non-null     float64
 65  Amit Investment Equity     35 non-null     float64
 66  Amit Debt Amount           7 non-null      float64
 67  Guest Investment Amount    63 non-null     float64
 68  Guest Investment Equity    63 non-null     float64
 69  Guest Debt Amount          6 non-null      float64
 70  Invested Guest Name        63 non-null     object
 71  All Guest Names            311 non-null    object
 72  Namita Present             495 non-null    float64
 73  Vineeta Present            428 non-null    float64
 74  Anupam Present             548 non-null    float64
 75  Aman Present               556 non-null    float64
 76  Peyush Present             388 non-null    float64
 77  Ritesh Present             138 non-null    float64
 78  Amit Present               137 non-null    float64
 79  Guest Present              311 non-null    float64
dtypes: float64(55), int64(6), object(19)
memory usage: 396.4+ KB
None

In [56]:
# 2. Data Cleaning and Organization

# Clean 'Total Deal Amount'
shark_tank_data['Total Deal Amount'] = clean_currency_and_convert_to_float(shark_tank_data['Total Deal Amount'])

# Clean 'Valuation Requested'
shark_tank_data['Valuation Requested'] = clean_currency_and_convert_to_float(shark_tank_data['Valuation Requested'])

# Clean specific investment amount columns
investment_columns = [
    'Namita Investment Amount', 'Vineeta Investment Amount', 'Anupam Investment Amount',
    'Aman Investment Amount', 'Peyush Investment Amount', 'Ritesh Investment Amount',
    'Amit Investment Amount', 'Guest Investment Amount'
]

for col in investment_columns:
    shark_tank_data[col] = clean_currency_and_convert_to_float(shark_tank_data[col])

# Clean Equity columns
equity_columns = [
    'Original Offered Equity', 'Total Deal Equity',
    'Namita Investment Equity', 'Vineeta Investment Equity',
    'Anupam Investment Equity', 'Aman Investment Equity',
    'Peyush Investment Equity', 'Ritesh Investment Equity',
    'Amit Investment Equity', 'Guest Investment Equity'
]
for col in equity_columns:
    shark_tank_data[col] = pd.to_numeric(shark_tank_data[col], errors='coerce').fillna(0)

# Clean Yearly Revenue
shark_tank_data['Yearly Revenue'] = clean_currency_and_convert_to_float(shark_tank_data['Yearly Revenue'])

# Handle Missing Values (Impute with 0 for deal amount and investment columns, for simplicity)
shark_tank_data['Total Deal Amount'] = shark_tank_data['Total Deal Amount'].fillna(0)
for col in investment_columns:
    shark_tank_data[col] = shark_tank_data[col].fillna(0)

# Impute missing values in equity columns with 0
for col in equity_columns:
    shark_tank_data[col] = shark_tank_data[col].fillna(0)

shark_tank_data['Valuation Requested'] = shark_tank_data['Valuation Requested'].fillna(0)
shark_tank_data['Yearly Revenue'] = shark_tank_data['Yearly Revenue'].fillna(0)

In [58]:
# 2. Data Cleaning and Organization

# Clean 'Total Deal Amount'
shark_tank_data['Total Deal Amount'] = clean_currency_and_convert_to_float(shark_tank_data['Total Deal Amount'])

# Clean 'Valuation Requested'
shark_tank_data['Valuation Requested'] = clean_currency_and_convert_to_float(shark_tank_data['Valuation Requested'])

# Clean specific investment amount columns
investment_columns = [
    'Namita Investment Amount', 'Vineeta Investment Amount', 'Anupam Investment Amount',
    'Aman Investment Amount', 'Peyush Investment Amount', 'Ritesh Investment Amount',
    'Amit Investment Amount', 'Guest Investment Amount'
]

for col in investment_columns:
    shark_tank_data[col] = clean_currency_and_convert_to_float(shark_tank_data[col])

# Clean Equity columns
equity_columns = [
    'Original Offered Equity', 'Total Deal Equity',
    'Namita Investment Equity', 'Vineeta Investment Equity',
    'Anupam Investment Equity', 'Aman Investment Equity',
    'Peyush Investment Equity', 'Ritesh Investment Equity',
    'Amit Investment Equity', 'Guest Investment Equity'
]
for col in equity_columns:
    shark_tank_data[col] = pd.to_numeric(shark_tank_data[col], errors='coerce').fillna(0)

# Clean Yearly Revenue
shark_tank_data['Yearly Revenue'] = clean_currency_and_convert_to_float(shark_tank_data['Yearly Revenue'])

# Handle Missing Values (Impute with 0 for deal amount and investment columns, for simplicity)
shark_tank_data['Total Deal Amount'] = shark_tank_data['Total Deal Amount'].fillna(0)
for col in investment_columns:
    shark_tank_data[col] = shark_tank_data[col].fillna(0)

# Impute missing values in equity columns with 0
for col in equity_columns:
    shark_tank_data[col] = shark_tank_data[col].fillna(0)

shark_tank_data['Valuation Requested'] = shark_tank_data['Valuation Requested'].fillna(0)
shark_tank_data['Yearly Revenue'] = shark_tank_data['Yearly Revenue'].fillna(0)



# 3. Feature Engineering and Analysis

# a. Success Metrics
shark_tank_data['Deal Success'] = np.where(shark_tank_data['Received Offer'] == 1, 'Successful', 'Unsuccessful')

# b. Investment per Shark
shark_tank_data['Total Sharks Invested'] = shark_tank_data[investment_columns].astype(bool).sum(axis=1)

# c. Calculate the total amount invested by each shark.
shark_investment_by_shark = shark_tank_data[investment_columns].sum()

# d. Find startups with multiple sharks investing
multiple_shark_deals = shark_tank_data[shark_tank_data['Total Sharks Invested'] > 1].shape[0]

# e. Calculate number of deals per industry
deals_per_industry = shark_tank_data['Industry'].value_counts().reset_index()
deals_per_industry.columns = ['Industry', 'Number of Deals']

# f. Calculate the success rate per industry.
industry_success_rate = shark_tank_data.groupby('Industry')['Deal Success'].value_counts(normalize=True).unstack().fillna(0)
industry_success_rate = industry_success_rate['Successful'].reset_index()
industry_success_rate.columns = ['Industry', 'Success Rate']

In [59]:
# 4. Founder Analysis
#  -- Assuming 'Number of Presenters' is a proxy for number of founders
# Convert 'Pitchers Average Age' to numeric, handling non-numeric values
shark_tank_data['Pitchers Average Age'] = pd.to_numeric(shark_tank_data['Pitchers Average Age'], errors='coerce')

avg_age_by_presenters = shark_tank_data.groupby('Number of Presenters')['Pitchers Average Age'].mean().reset_index()
avg_age_by_presenters.columns = ['Number of Presenters', 'Average Age']
# 5. Funding Amount Analysis
total_investment_amount = shark_tank_data['Total Deal Amount'].sum()

In [60]:
# 6. Output Results (for Python)
print("\n--- Project Analysis ---")
print("\nTotal Investment by Each Shark:")
print(shark_investment_by_shark)

print(f"\nNumber of Deals with Multiple Sharks: {multiple_shark_deals}")

print("\nDeals per Industry:")
print(deals_per_industry)

print("\nIndustry Success Rates:")
print(industry_success_rate)

print("\nAverage Pitcher Age by Number of Presenters:")
print(avg_age_by_presenters)

print(f"\nTotal Investment Amount: {total_investment_amount}")

--- Project Analysis ---

Total Investment by Each Shark:
Namita Investment Amount     4061.839268
Vineeta Investment Amount    2987.294500
Anupam Investment Amount     3397.330768
Aman Investment Amount       5453.717516
Peyush Investment Amount     4072.914753
Ritesh Investment Amount     2198.484500
Amit Investment Amount       1234.400000
Guest Investment Amount      2878.682252
dtype: float64

Number of Deals with Multiple Sharks: 198

Deals per Industry:
                        Industry  Number of Deals
0              Food and Beverage              142
1                 Beauty/Fashion              127
2            Technology/Software               58
3                 Medical/Health               56
4                  Manufacturing               52
5                 Lifestyle/Home               43
6              Business Services               42
7             Children/Education               25
8   Vehicles/Electrical Vehicles               20
9        Fitness/Sports/Outdoors               19
10               Green/CleanTech               15
11                   Agriculture                7
12                   Animal/Pets                6
13                Liquor/Alcohol                6
14                   Electronics                5
15                        Others                5
16                 Entertainment                4
17                      Hardware                2

Industry Success Rates:
                        Industry  Success Rate
0                    Agriculture      0.857143
1                    Animal/Pets      0.333333
2                 Beauty/Fashion      0.685039
3              Business Services      0.523810
4             Children/Education      0.720000
5                    Electronics      0.600000
6                  Entertainment      0.250000
7        Fitness/Sports/Outdoors      0.842105
8              Food and Beverage      0.704225
9                Green/CleanTech      0.666667
10                      Hardware      0.500000
11                Lifestyle/Home      0.534884
12                Liquor/Alcohol      0.666667
13                 Manufacturing      0.596154
14                Medical/Health      0.785714
15                        Others      0.600000
16           Technology/Software      0.706897
17  Vehicles/Electrical Vehicles      0.550000

Average Pitcher Age by Number of Presenters:
   Number of Presenters  Average Age
0                     1          NaN
1                     2          NaN
2                     3          NaN
3                     4          NaN
4                     5          NaN
5                     6          NaN

Total Investment Amount: 26284.91356

In [61]:
# 7. Prepare data for Tableau

# Create a new dataframe for shark investments
shark_investments_df = pd.DataFrame(shark_investment_by_shark).reset_index()
shark_investments_df.columns = ['Shark', 'Investment Amount']

# Add a success rate column.
shark_tank_data = shark_tank_data.merge(industry_success_rate, on='Industry', how='left')

# Save the dataframes to CSV files.  These will be used in Tableau.
shark_tank_data.to_csv("shark_tank_data_for_tableau.csv", index=False)
shark_investments_df.to_csv("shark_investments_for_tableau.csv", index=False)

print("\nData has been successfully prepared and saved to 'shark_tank_data_for_tableau.csv' and 'shark_investments_for_tableau.csv'.  These are ready for visualization in Tableau.")

Data has been successfully prepared and saved to 'shark_tank_data_for_tableau.csv' and 'shark_investments_for_tableau.csv'.  These are ready for visualization in Tableau.